@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans&display=swap');

* { margin:0; padding:0; }
ol, ul { list-style:none; }
a:link { text-decoration:none; color:#333; }
a:hover { text-decoration:none; color:#333; }
a:visited { text-decoration:none; color:#333; }
a:active { text-decoration:none; color:#333; }
a:focus { text-decoration:none; color:#333; }

legend, caption { display:none; }
fieldset { border:0; }
input, select, textarea { vertical-align:middle; border: 0; }
body {font-family:'나눔스퀘어','Noto Sans KR','Roboto', serif; font-size:16px; line-height:26px; color:#333;}
#wrap { min-width:1200px; overflow-x: hidden; margin: 0 auto; }

/* header 시작 */
#header{width:100%; height:150px;}
#header .header-inner{width: 1200px; margin: 0 auto;}
#header h1 img{padding-top: 40px;}
#header .header-inner{position: relative;}
#header ul.util{display: flex; justify-content:flex-end; position: absolute;top: 40px; right:0;}
#header ul.util li a{padding:0 15px; color:#005CA3; font-size:15px;}
#header ul.util li:nth-child(2){border-left: 1px solid #005CA3; padding: left 10px;}
#header ul.gnb{z-index:9999; display: flex; position: absolute; top: 78px; right: 10px;color: #333; width: 900px;}
#header ul.gnb>li{padding-top: 10px; width:calc(100%/5);}
#header ul.gnb>li>a{font-size: 20px; font-weight: bold; transition: 0.5s;}
#header ul.gnb li a:hover{color:#005CA3; border-bottom: 1px solid #005CA3;}
#header .dp2{padding-top: 25px; height:150px; box-sizing: border-box; transition:background 0.5s;}
#header .dp2 li{padding: 5px 0;}
#header .dp2 li a{text-transform:capitalize; font-size: 15px;transition: 0.3s;}
#header .dp2-bg{position: absolute; top:130px; right: 110px; width: 830px; height: 200px; background-color:rgba(255, 255, 255); z-index:99; border-radius: 5px;}
/* header 종료 */


/* sub01 contents 부산이야기 시작 */
#wrap{}
#sub01-contents{position: relative; margin: 0 auto;}
.prepare-trip{background:url('../images/sub/subvisual03.png')no-repeat center 0}
#snb01 {width: 1200px; margin: 0 auto; padding-top: 240px;}
#snb01::after { content: ""; clear: both; display: block;}
#snb01 li{float: left; width:600px; position: relative;margin: 0 auto;}
#snb01 li a{color: #fff; font-size: 18px; display: block; ; padding: 15px 30px; background-color:#005CA3; text-align: center;}
#snb01 li:hover a{color:#FCB837;}
#sub01-contents #snb01 .on a{ color:#FCB837; font-weight:bold;}
#sub01-contents .trip{width: 1200px; margin:50px auto;}
#sub01-contents .trip::after{clear: both; display: block; content: "";}
.trip ul{width: 1000px; margin: 0 auto; position: relative; display:flex; justify-content:space-around;}

.trip ul li{cursor: pointer; position: relative; top: 0;}
.trip ul li:hover .sub01-desc{opacity: 1;}
.trip ul li:active .sub01-desc{background-color: rgb(241, 98, 50,0.8) ;}
.trip ul li .sub01-desc{background-color: rgb(241, 100, 51,0.9) ; z-index: 99; opacity:0; box-sizing:border-box; transition: opacity 0.9s;color: #fff; width:298px;text-align: center; padding:10px 0; position:relative; top:-92px; border-radius:10px;}
.trip ul li .sub01-desc h3{font-size: 17px;}
.trip ul li .sub01-desc p{line-height: 1.1;}


/* sub01 contents 종료 */

/* sub02 contents 테마여행 시작 */
#sub02-contents{position: relative;margin: 0 auto;}
.theme-trip{background: url('../images/sub/subvisual02.png')no-repeat center 0;}
#snb02 {width: 1200px; margin: 0 auto; padding-top: 240px;}
#snb02::after { content: ""; clear: both; display: block;}
#snb02 li:first-child{}
#snb02 li{float: left; width:400px; position: relative;margin: 0 auto;}
#snb02 li a{color: #fff; font-size: 18px; display: block; ; padding: 15px 30px; background-color:#005CA3; text-align: center;}
#snb02 li:hover a{color:#FCB837;}
#sub02-contents #snb02 .on a{ color:#FCB837; font-weight:bold;}
.theme-trip-wrap{width:1200px; margin: 40px auto 100px auto;}
.sub02-wrap{width: 1000px; margin: 0 auto; display: flex; align-items:center; }
.sub2-desc ul li{display:flex; align-items: center;}
.sub2-desc ul li a{display: inline-block; align-items: center;}
.sub02-wrap .box{background: url('../images/sub/trip-bg.png');}
.sub2-desc ul li:nth-child(1){font-size: 18px; font-weight: bold;}
.sub2-desc ul li a:hover{color: #005CA3; transition: 0.5s; font-weight:bold;}
.sub2-desc ul li:nth-child(2){color: #005CA3;}
.sub2-desc ul li:nth-child(4) a{position: relative; left:470px; display: flex; align-self: center;}
.sub2-desc img{transform: scale(0.8,0.8);}
.sub2-img img{transform: scale(0.7,0.7);}
.sub02-wrap{border-bottom: 2px solid #eee; width: 900px;}
/* .sub2-img :hover{ opacity:0.5;background:rgba(0,0,0,0.9); width:100%; height:100%; box-sizing:border-box; transition:opacity 1s; border-radius:40%;}
.sub2-img {opacity: 1;} */










/* sub03 contents  가이드북 시작 */
#wrap{}
#sub03-contents{position: relative; margin: 0 auto;}
.event-notice{background:url('../images/sub/subvisual04.png')no-repeat center 0;}
#sub-visual{width: 1200px; margin:0 auto;position: relative; top: 190px; left: 130px;}
#sub-visual h2{ font-size:25px; color:#fff; padding-bottom: 5px;}
.visual-wrap{display: flex; align-items:center;}
.visual-wrap a{color: #fff;}
.visual-wrap p{padding-left: 10px; color:#fff;}
#snb03 {width: 1200px; margin: 0 auto; padding-top: 240px;}
#snb03::after { content: ""; clear: both; display: block;}
    #snb03 li{float: left; width:600px; position: relative;margin: 0 auto;}
#snb03 li a{color: #fff; font-size: 18px; display: block; ; padding: 15px 30px; background-color:#005CA3; text-align: center;}
#snb03 li:hover a{color:#FCB837;}
#sub03-contents #snb03 .on a{ color:#FCB837; font-weight:bold;}
#sub03-contents .guide-wrap{width: 1200px; margin: 50px auto;}
#sub03-contents .guide1{width: 1000px; margin: 0 auto; display: flex; justify-content: space-around;}
#sub03-contents span{display: flex;}
#sub03-contents span img{padding-left: 10px;}
#sub03-contents .guide-wrap::after{clear: both; display: block; content: "";}
.guide-wrap ul{width: 1000px; margin: 0 auto; position: relative; display:flex; justify-content:space-around;}
.guide-wrap ul span{align-items: center;}
.guide-wrap ul li span img{scale: 0.7;}
.guide-wrap ul li:hover span{background-color:#3c6bf1; transition: 0.5s; color: #fff;}
.guide-wrap ul li span{background-color: rgb(255, 255, 255) ; z-index: 99; box-sizing:border-box; transition: opacity 0.9s;color: #333; width:220px;text-align: center; padding:12px 2px; position:relative; top:-60px; border-radius:10px; border: 1px solid #333;}
/* .guide-wrap.box{background: url(../images/sub/trip-bg.png);} */
/* sub03 contents 종료 */

/* sub 4 시작 */
.Guidebook{background:url('../images/sub/subvisual03.png')no-repeat center 0;}
#notice {width: 1200px; margin:150px auto; position: relative;}
#notice form{position: absolute; right: 10px; top: -50px;}
#notice .search {width: 300px; float: right;margin-bottom: 20px;}
#notice .search select {border:1px solid #999;width: 80px;height: 30px;padding: 3px 10px;}
#notice select{width: 50px; height: 30px;}
#notice input[type="text"] {border:1px solid #999; width: 150px; height: 30px; padding: 3px 10px;box-sizing: border-box;}
#notice input[type="submit"]{width: 60px;height: 30px; padding: 3px 10px; box-sizing: border-box; background: #333; color:#fff; cursor: pointer;}
#notice table  {width: 100%; border-top:1px solid #000;}
#notice table th {padding: 10px 0 ; border-bottom: 1px solid #999;}
#notice table td {padding: 10px 0; border-bottom:1px solid #ddd; ;text-align: center;}
#notice table tr td:nth-child(2) {text-align: left;} 
#notice table td a:hover {color:#3c6bf1;}
#notice .paging {text-align: center;margin-top: 50px;}
#notice .paging span a{display:inline-block ; border: 1px solid #999;padding: 5px 15px; }
#notice .paging span a.on {background: #3c6bf1;color:#fff;}
#notice .paging .first a{text-indent:-99999px;background: url('../images/sub/paging_first.png')no-repeat center center;border:0;}
#notice .paging .prev a{text-indent:-99999px;background: url('../images/sub/paging_prev.png')no-repeat center center;border:0;}
#notice .paging .next a{text-indent:-99999px;background: url('../images/sub/paging_next.png')no-repeat center center;border:0;}
#notice .paging .last a{text-indent:-99999px;background: url('../images/sub/paging_last.png')no-repeat center center;border:0;}







/* 페이지 */
.pagebox .page{width: 500px; margin: 0 auto;text-align: center;}
.trip .page li { display:inline-block; border:1px solid #e6e6e6; margin:1px; padding:5px 14px; border-radius: 5px; }
.guide-wrap .page li { display:inline-block; border:1px solid #e6e6e6; margin:1px; padding:5px 14px; border-radius: 5px; }
.theme-trip-wrap .page li { display:inline-block; border:1px solid #e6e6e6; margin:1px; padding:5px 14px; border-radius: 5px; }
.page .on{ background-color:#005CA3; color: #fff;}


/* footer 시작 */
#footer {width:1200px; margin:0 auto; position: relative;}
#footer .footer-banner{overflow: hidden;position: relative;}
#footer .banner-icon{float: left;display: flex;}
#footer .banner-icon img{align-items: center; scale: 0.5em;}
#footer .banner-icon li {transition:all 0.5s;}
#footer .banner-icon li:hover { opacity:0.7; }
.footer-menu{width: 1100px; margin: 0 auto; margin-bottom: 130px; padding-bottom: 20px;}
.footer-menu .footer-dp{margin-top: 30px;}
.footer-menu .footer-dp li a{color: #fff;}
.footer-menu >.footer-dp>li{float: left; width:13%; text-align: left; }
.footer-menu .dep-01{font-size: 18px; font-weight: bold;}
.sns-footer{margin: 0 auto;}
.sns-footer .sns{display: flex; justify-content: end;}
.sns li{width:40%; padding-left:40px;align-self: center;}
.footer-bg{background: url('../images/common/footer-bg.png')no-repeat center center; height:384px; margin-top:-350px; align-items:center;}
.info-wrap{width:1100px; margin: 0 auto; margin-top:-70px ;}
.info-wrap .desc{display: flex;}
.info-wrap .desc li:nth-child(1){padding-right: 40px;}
.info-wrap .desc li{ padding-right: 10px;align-self: center;}
.info-wrap .desc li a{color:#fff;}
.info-wrap p{padding-left: 116px; color:#fff;}
/* footer 종료 */

/* etc */
#gotop { display:none; position:fixed; right:70px; bottom:190px; }

